<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide font-bold text-primary text-6xl mb-6">
        Eet zeker
      </h1>
      <h2 class="tracking-widest text-2xl">
        Vind producten, vind alternatieven, en word weer zeker in wat je eet.
      </h2>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="{{ env.baseUrl }}img/undraw_Friends_online_re_r7pq.svg" alt="AWE.SOME header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 m-2 text-white bg-primary rounded-full shadow-md text-lg hover:bg-secondary hover:border-red" href="#about">
    Download de iPhone app
  </a>
  <a class="px-10 py-2 m-2 text-white bg-primary rounded-full shadow-md text-lg hover:bg-secondary hover:border-red" href="#about">
    Download de Android app
  </a>
</div>

