<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-9/10 xl:w-5/6 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-widest font-bold text-primary text-6xl mb-6">
        Eet zeker
      </h1>
      <h2 class="tracking-wide text-2xl">
        Vind producten, vind alternatieven, en word weer zeker in wat je eet.
      </h2>
      <p class="tracking-wide text-l mt-5">
        EetZeker is <span class="italic">de</span> app voor mensen met een voedselintolerantie of allergie.
        Stel je profiel op, scan producten om ingredienten in te zien, en houd je resultaten bij in het dagboek.
      </p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="{{ env.baseUrl }}img/eetzeker-hero-v2.png" alt="EetZeker pages">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 m-2 text-white bg-primary rounded-full shadow-md text-lg hover:bg-secondary hover:border-red" href="#about">
    Download de iPhone app
  </a>
  <a class="px-10 py-2 m-2 text-white bg-primary rounded-full shadow-md text-lg hover:bg-secondary hover:border-red" href="#about">
    Download de Android app
  </a>
</div>

